/*----------------------------------------*\
  CARD
\*----------------------------------------*/

.card {
  @apply bg-gray-200;
  @apply p-6;

}

/**
* Sizes
*/
.card--small {
  @apply text-sm;
}

.card--large {
  @apply text-lg;
}

/**
* Styles
*/

/**
* Icon
*/

