.info-box {
  background-color: #F2F7FD;
  padding: 40px;
}

.info-box p {
  font-size: 18px;
  color: #0058DB;
}

.info-box--warning {
  @apply bg-red-100
}

.info-box--warning p{
  @apply text-red-700
}
