/*----------------------------------------*\
  NOTIFICATION
\*----------------------------------------*/

.notification {
  @apply flex items-center items-start;
  @apply p-4 rounded;

  &.is-error {
    @apply bg-red-200 text-blue-900;
  }

  &.is-success {
    @apply bg-blue-200;
  }
}
